# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# This callable workflow is used for building MSLK ROCm wheels.
name: MSLK ROCm Build

on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: string
      container:
        description: 'Container configuration for the job'
        type: string
        required: false
        default: >-
          {
            "image": "ubuntu:22.04",
            "options": "--user root --privileged --pid=host",
            "volumes": [
              "/var/run/docker.sock:/var/run/docker.sock"
            ]
          }
      repo-ref:
        description: Repository ref/sha
        type: string
        required: true
        default: ""
      extra-env:
        description: 'JSON string of extra environment variables, e.g. {"KEY1": "value1", "KEY2": "value2"}'
        type: string
        required: false
        default: '{}'
      pytorch-channel-version:
        description: Package Channel + Version to Use for PyTorch Installation, in `<channel>[/<version>]` Format
        type: string
        required: false
        default: ""

jobs:
  # Build on CPU hosts and upload to GHA
  build_artifact:
    runs-on: ${{ matrix.host-machine.instance }}
    container: ${{ fromJson(inputs.container) }}
    defaults:
      run:
        shell: bash
    env:
      PRELUDE: ci/scripts/setup_env.bash
      BUILD_ENV: build_binary
      BUILD_TARGET: ${{ matrix.build-target }}
      BUILD_VARIANT: rocm
      BUILD_ROCM_VERSION: ${{ matrix.rocm-version }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(inputs.matrix) }}
    continue-on-error: true

    steps:
    - name: Setup Build Container
      run: |
        apt update -y
        apt install -y binutils git jq pciutils sudo wget
        git config --global --add safe.directory '*'

    - name: Merge Extra Environment Variables
      run: |
        ENV_JSON='${{ inputs.extra-env }}'

        # Validate JSON
        if ! echo "$ENV_JSON" | jq empty; then
          echo "âŒ Invalid JSON provided: $ENV_JSON" >&2
          exit 1
        fi

        # Merge key-value pairs into GITHUB_ENV
        echo "$ENV_JSON" | jq -r 'to_entries | .[] | "\(.key)=\(.value)"' >> $GITHUB_ENV

        unset ENV_JSON

    - name: Checkout the Repository
      uses: actions/checkout@v4
      with:
        submodules: true
        ref: ${{ inputs.repo-ref }}

    - name: Free Disk Space on Host
      if: ${{ fromJson(inputs.container).image != null }}
      run: . $PRELUDE; free_disk_space_on_host

    - name: Display System Info
      run: . $PRELUDE; print_system_info

    - name: Display GPU Info
      run: . $PRELUDE; print_gpu_info

    - name: Setup Miniconda
      run: . $PRELUDE; setup_miniconda $HOME/miniconda

    - name: Create Conda Environment
      run: . $PRELUDE; create_conda_environment $BUILD_ENV ${{ matrix.python-version }}

    - name: Install C/C++ Compilers
      run: . $PRELUDE; install_cxx_compiler $BUILD_ENV ${{ matrix.compiler }}

    - name: Install Build Tools
      run: . $PRELUDE; install_build_tools $BUILD_ENV

    - name: Install ROCm
      run: . $PRELUDE; install_rocm_ubuntu $BUILD_ENV ${{ matrix.rocm-version }}

    - name: Install PyTorch (${{ inputs.pytorch-channel-version }})
      run: . $PRELUDE; install_pytorch_pip $BUILD_ENV ${{ inputs.pytorch-channel-version }} rocm/${{ matrix.rocm-version }}

    - name: Collect PyTorch Environment Info
      if: ${{ success() || failure() }}
      run: if . $PRELUDE && which conda; then collect_pytorch_env_info $BUILD_ENV; fi

    - name: Prepare MSLK Build
      run: . $PRELUDE; prepare_mslk_build $BUILD_ENV

    - name: Build MSLK Wheel
      run: . $PRELUDE; build_mslk_package $BUILD_ENV nightly ${{ matrix.build-target }}/rocm

    - name: Upload Built Wheel as GHA Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mslk_${{ matrix.build-target }}_${{ matrix.host-machine.arch }}_${{ matrix.compiler }}_py${{ matrix.python-version }}_rocm${{ matrix.rocm-version }}.whl
        path: dist/*.whl
        if-no-files-found: error
