# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

# This callable workflow is used for testing MSLK ROCm wheels
# as well as optionally publish the wheels to PyPI after a successful test.
name: MSLK ROCm Test

on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: string
      repo-ref:
        description: Repository ref/sha
        type: string
        required: true
        default: ""
      extra-env:
        description: 'JSON string of extra environment variables, e.g. {"KEY1": "value1", "KEY2": "value2"}'
        type: string
        required: false
        default: '{}'
      pytorch-channel-version:
        description: Package Channel + Version to Use for PyTorch Installation, in `<channel>[/<version>]` Format
        type: string
        required: false
        default: ""
      publish-to-pypi:
        description: Publish Artifact to PyPI
        type: boolean
        required: false
        default: false
      rocm-version-publish:
        description: ROCm Target Version for Artifact Publishing
        type: string
        required: false
        default: ""
      mslk-channel-version:
        description: PIP channel + version to install MSLK (if not specified, the GitHub artifact will be used instead)
        type: string
        required: false
        default: ""
      run-target:
        description: Run target (test, benchmark)
        type: string
        required: false
        default: test
    secrets:
      PYPI_TOKEN:
        # The PyPI token is only needed if publishing the artifact to PyPI is desired
        required: false

jobs:
  # Download the built artifact from GHA, test on GPU, and push to PyPI
  test_and_publish_artifact:
    runs-on: ${{ matrix.host-machine.instance }}
    container:
      image: "rocm/dev-ubuntu-22.04:${{ matrix.rocm-version }}-complete"
      options: --user root --device=/dev/kfd --device=/dev/dri --ipc=host --shm-size 16G --group-add video --cap-add=SYS_PTRACE --security-opt seccomp=unconfined
    defaults:
      run:
        shell: bash
    env:
      PRELUDE: ci/scripts/setup_env.bash
      BUILD_ENV: build_binary
      BUILD_TARGET: ${{ matrix.build-target }}
      BUILD_VARIANT: rocm
      BUILD_ROCM_VERSION: ${{ matrix.rocm-version }}
      ENFORCE_ROCM_DEVICE: 1
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(inputs.matrix) }}

    steps:
    - name: Setup Build Container
      run: |
        apt update -y
        apt install -y git wget
        git config --global --add safe.directory '*'

    - name: Merge Extra Environment Variables
      run: |
        ENV_JSON='${{ inputs.extra-env }}'

        # Validate JSON
        if ! echo "$ENV_JSON" | jq empty; then
          echo "âŒ Invalid JSON provided: $ENV_JSON" >&2
          exit 1
        fi

        # Merge key-value pairs into GITHUB_ENV
        echo "$ENV_JSON" | jq -r 'to_entries | .[] | "\(.key)=\(.value)"' >> $GITHUB_ENV

        unset ENV_JSON

    - name: Checkout the Repository
      uses: actions/checkout@v4
      with:
        submodules: true
        ref: ${{ inputs.repo-ref }}

    - name: Free Disk Space on Host
      run: . $PRELUDE; free_disk_space_on_host

    - name: Display System Info
      run: . $PRELUDE; print_system_info

    - name: Display GPU Info
      run: . $PRELUDE; print_gpu_info

    - name: Setup Miniconda
      run: . $PRELUDE; setup_miniconda $HOME/miniconda

    - name: Create Conda Environment
      run: . $PRELUDE; create_conda_environment $BUILD_ENV ${{ matrix.python-version }}

    - name: Install C/C++ Compilers
      # NOTE: Need to install compilers to set up libomp for the clang case
      run: . $PRELUDE; install_cxx_compiler $BUILD_ENV ${{ matrix.compiler }}

    - name: Install Build Tools
      # NOTE: Need to install build tools to set up libtbb
      run: . $PRELUDE; install_build_tools $BUILD_ENV

    - name: Install ROCm AMD-SMI
      run: . $PRELUDE; install_rocm_amdsmi_ubuntu $BUILD_ENV

    - name: Install PyTorch (${{ inputs.pytorch-channel-version }})
      run:  . $PRELUDE; install_pytorch_pip $BUILD_ENV ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.pytorch-channel-version) || 'nightly' }} rocm/${{ matrix.rocm-version }}

    - name: Collect PyTorch Environment Info
      if: ${{ success() || failure() }}
      run: if . $PRELUDE && which conda; then collect_pytorch_env_info $BUILD_ENV; fi

    - name: Install MSLK dependencies (pip)
      run: . $PRELUDE; install_mslk_deps $BUILD_ENV

    - name: Download Wheel Artifact from GHA
      if: ${{ inputs.mslk-channel-version == '' }}
      uses: actions/download-artifact@v4
      with:
        name: mslk_${{ matrix.build-target }}_${{ matrix.host-machine.arch }}_${{ matrix.compiler }}_py${{ matrix.python-version }}_rocm${{ matrix.rocm-version }}.whl

    - name: Install MSLK (local wheel)
      if: ${{ inputs.mslk-channel-version == '' }}
      run: . $PRELUDE; install_mslk_wheel $BUILD_ENV *.whl

    - name: Install MSLK (pip)
      if: ${{ inputs.mslk-channel-version != '' }}
      run: . $PRELUDE; install_mslk_pip $BUILD_ENV ${{ github.event.inputs.mslk_channel_version || 'nightly' }} rocm/${{ matrix.rocm-version }}

    - name: Test with PyTest
      if: ${{ inputs.run-target == 'test' }}
      timeout-minutes: 60
      run: . $PRELUDE; test_all_mslk_modules $BUILD_ENV

    - name: Run MSLK Benchmark
      if: ${{ inputs.run-target == 'benchmark' }}
      timeout-minutes: 40
      run: . $PRELUDE; run_mslk_microbench $BUILD_ENV

    - name: Upload Benchmark Traces as GHA Artifacts
      if: ${{ inputs.run-target == 'benchmark' }}
      uses: actions/upload-artifact@v4
      with:
        name: mslk_traces_${{ matrix.host-machine.arch }}_${{ matrix.compiler }}_py${{ matrix.python-version }}_rocm${{ matrix.rocm-version }}.zip
        path: mslk/bench/*.json
        if-no-files-found: error

    - name: Push Wheel to PyPI
      if: ${{ inputs.publish-to-pypi && matrix.rocm-version == inputs.rocm-version-publish }}
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      run: |
        . $PRELUDE;

        if [[ -z "$PYPI_TOKEN" ]]; then
          echo "PYPI_TOKEN is not set!" >&2
          echo "NOTE that secrets will not be available if the workflow is triggered by a PR from a fork." >&2
          exit 1
        fi

        publish_to_pypi $BUILD_ENV "$PYPI_TOKEN" *.whl
