# Copyright (c) Meta Platforms, Inc. and affiliates.
# All rights reserved.
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

name: Build MSLK Aarch64 Linux Wheels

on:
    pull_request:
    push:
      branches:
        - nightly
        - main
      tags:
        # Release candidate tag look like: v1.11.0-rc1
        - v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+
        - v[0-9]+.[0-9]+.[0-9]+
    workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  generate-matrix:
    if: ${{ github.repository_owner == 'pytorch' }}
    uses: pytorch/test-infra/.github/workflows/generate_binary_build_matrix.yml@main
    with:
      package-type: wheel
      os: linux-aarch64
      test-infra-repository: pytorch/test-infra
      test-infra-ref: main
      with-cuda: enable
      with-cpu: disable

  filter-matrix:
    if: ${{ github.repository_owner == 'pytorch' }}
    needs: generate-matrix
    runs-on: linux.24_04.4x
    outputs:
      matrix: ${{ steps.filter.outputs.matrix }}
    steps:
    - uses: actions/setup-python@v4
    - name: Checkout MSLK repository
      uses: actions/checkout@v4
      with:
        repository: meta-pytorch/MSLK
    - name: Filter Generated Built Matrix
      id: filter
      env:
        MAT: ${{ needs.generate-matrix.outputs.matrix }}
      # Nova Coordinate Filters:
      # cuda/13.0-aarch64: Not supported in MSLK yet
      run: |
        set -ex
        pwd
        ls
        # MATRIX_BLOB="$( python .github/scripts/filter_nova_matrix.py --filter 'gpu_arch_version:13.0-aarch64' )"
        MATRIX_BLOB="$( python .github/scripts/filter_nova_matrix.py )"
        echo "${MATRIX_BLOB}"
        echo "matrix=${MATRIX_BLOB}" >> "${GITHUB_OUTPUT}"

  build:
    if: ${{ github.repository_owner == 'pytorch' }}
    needs: filter-matrix
    strategy:
      fail-fast: false
      matrix:
        include:
          - repository: meta-pytorch/MSLK
            smoke-test-script: ""
            pre-script: ../.github/scripts/nova_prescript.bash
            post-script: ../.github/scripts/nova_postscript.bash
            env-var-script: .github/scripts/nova_dir.bash
            package-name: mslk
    name: ${{ matrix.repository }}
    uses: pytorch/test-infra/.github/workflows/build_wheels_linux.yml@main
    with:
      repository: ${{ matrix.repository }}
      ref: ""
      test-infra-repository: pytorch/test-infra
      test-infra-ref: main
      build-matrix: ${{ needs.filter-matrix.outputs.matrix }}
      pre-script: ${{ matrix.pre-script }}
      post-script: ${{ matrix.post-script }}
      package-name: ${{ matrix.package-name }}
      build-target: genai
      env-var-script: ${{ matrix.env-var-script }}
      smoke-test-script: ${{ matrix.smoke-test-script }}
      trigger-event: ${{ github.event_name }}
      architecture: aarch64
      setup-miniconda: false
      timeout: 210
